
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --var: #fff;
    --primary: rgb(209, 131, 13);
    --secondart: rgba(121, 17, 17, 0.82);

}

body{
    background: #1D2D44  ;
    /* background: #FF7F50; a utilise pour les bouton */
   

      
}

.barnav{
    color: var(--var);
    font-size: 1.7rem;
}
li, a{
    color: var(--var);
}
#logo{
    margin-left: 200px;
}

#logo>a{
    color: var(--var);
    font-size: 2rem;
}
sup{
    color: rgb(209, 131, 13);
}

/* images de fond  */
#content{
    /* width: 90%; */
    /* height: 100vh; */
    padding: 50px;
    background: #04050c;
}

#images {
    /* display: block; */
    position: relative;
    /* margin: 20px auto; */
    margin-left: 250px;
    width: 60vw;
    height: 400px;
}

#text{
    position: absolute;
    top: 50%;
    left: 30%;
    padding: 20px;
    color: var(--var);
}

#text> h3{
    color: var(--var);
    font-size: 4rem;
}

hr{
    border: 2px solid #04050c;
}


/* competence */
#image-fluid{
    width: 350px;
}

/* a-propos */

#section{
    display: block;
    margin: 0 auto;
    justify-content: center;
    /* background-color: #1D2D44 ; */
    background: red;
    width: 350px;
}

#contenaire{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* background: rebeccapurple; */
}

#text-fluid{
    padding: 50px;
    color: var(--var);
}


/* porfolio */

#galleries {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
   
}

#box4{ 
    width: 20%;
}

#box1 ,#box2 ,#box3{
    width: 100px;
    height: 100px;
}








/* contact */

#sections{
    background: #03080f4f ;
    display: block;
    margin: 0 auto;
    width: 70%;
}

form{
    width: 200px;
    padding: 80px;
}

input{
    width: 350px;
    margin-bottom: 20px;
}

#input-field{
    padding: 50px;
}

@media screen and (max-width:778px) {
    .barnav{
        font-size:10px ;
        gap: 5px;
    }
    #content{
        background-color: var(--var);
    }

    #images{
       display: none;
    }

    #section , #sections{
        
        width: 100%;
    }
    #text{
        position: relative;
        bottom: 100%;
        right: 50%;
    }

    #text> h3{
        font-size: 2rem;
        padding: 10px;
    }

    #contenaire{
        display: block;
        flex-direction: column;
    }

    /* #section{
        width: 440px;
        height: 250px;
    } */

    
     #image-fluid{
        width: 250px;
    } 


    input{
        width: 170px;
    }
}