
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --var: #fff;
    --primary: rgb(209, 131, 13);
    --secondart: rgba(121, 17, 17, 0.82);
    --root:  rgb(10,36,133);
    --thrid:  rgba(5,19,37,1);

}

body{
    font-family: 'Times New Roman', Times, serif;
    background: var(--root);
    background: radial-gradient(circle, rgba(10,36,133,1) 0%, rgba(5,19,37,1) 100%);
   

      
}

.barnav{
    color: var(--var);
    font-size: 1.7rem;
}
li, a{
    color: var(--var);
}

#contact{
    color: var(--var);
}
#logo{
    margin-left: 200px;
}

#logo>a{
    color: var(--var);
    font-size: 2rem;
}
sup{
    color: rgb(209, 131, 13);
}

/* images de fond  */

#images {
    /* padding: 8vh; */
    display: block;
    margin: 0 auto;
    width: 50%;
    transform: rotate(30deg);
}

#reseaux >img{
  box-shadow: 3px 3px var(--thrid), 1px 3px 3px var(--var);
  /* box-shadow: 3px 3px red, -1em 0 .4em olive; */
}

#images1{
    width: 10%;
}

#images2{
    width: 20%;
}

#text{
    position: absolute;
    top: 50%;
    left: 30%;
    padding: 20px;
    color: var(--var);
}

#text> h3{
    color: var(--var);
    font-size: 4rem;
}

hr{
    border: 2px solid #04050c;
}


/* competence */
#image-fluid{
    display: block;
    margin: 10px auto;
    width: 400px;
}

/* a-propos */

#section{
    display: block;
    margin: 0 auto;
    justify-content: center;
    /* background-color: #1D2D44 ; */
    background: red;
    width: 350px;
}

#contenaire{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* background: rebeccapurple; */
}

#text-fluid{
    padding: 50px;
    color: var(--var);
}

#images-fluid{
    display: block;
    margin: 10px auto;
    width: 200px;
}


/* porfolio */

#galleries {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
   
   
}

#box4{ 
    width: 20%;
    border-radius: 15px;
}

#box1 ,#box2 ,#box3{
    width: 100px;
    height: 100px;
    border-radius: 15px;
}


/* alert */
.issa{
    position: fixed;
    bottom: 25%;
    left: 10%;
    /* width: 100%; */
    background:rgba(17, 51, 160, 0.363);
    width: 80%;
    height: 50vh;
    z-index: 10;
    color: var(--var);
    /* margin-left: 100px; */
  }
  



/* contact */

#sections{
    background: #03080f4f ;
    display: block;
    margin: 0 auto;
    width: 70%;
}

form{
    width: 450px;
    padding: 80px;
    border: 1px solid #04050c;
    border-radius: 15px;
    box-shadow: 3px 3px rgb(192, 192, 192), -1em 0 .4em rgb(231, 231, 222);
}

input{
    width: 350px;
    margin-bottom: 20px;
}

#input-field{
    padding: 50px;
}

button{
    background: var(--root);
    border-radius: 15px;
    border: 1px solid var(--root);
    color: var(--var);
    width: 100px;
    text-align: center;
}

/* footer */

footer{
    background: var(--root);
    padding: 20px;
}

footer >p{
    color: var(--var);
    text-align: center;
}

@media screen and (max-width:778px) {
    .barnav{
        font-size:10px ;
        gap: 5px;
    }
    #content{
        background-color: var(--var);
    }

    #images{
       display: none;
    }

    #section , #sections{
        
        width: 100%;
    }
    #text{
        position: relative;
        bottom: 100%;
        right: 50%;
    }

    #text> h3{
        font-size: 2rem;
        padding: 10px;
    }

    #contenaire{
        display: block;
        flex-direction: column;
    }

    /* #section{
        width: 440px;
        height: 250px;
    } */

    
     #image-fluid{
        width: 250px;
    } 


    input{
        width: 170px;
    }
}